apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp-another-argo-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/dnyaneshlb/mydemoapp-argocd-config-repo.git
    targetRevision: HEAD
    path: dev
  destination: 
    server: https://kubernetes.default.svc
    namespace: my-another-app

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true

